@charset "UTF-8";
summary {
  display: block;
  list-style: none;
  text-align: center;
  padding: 10px;
} 

#a {
	margin-bottom: 5%;
}

.m {
	text-align: center;
	top: 5%;
	margin-bottom: 5%;
	margin-right: 20%;
	margin-left: 20%;
}

.f {
	margin-left: 30%;
	margin-right: 30%;
}
.l {
	
	border-left-style: solid;margin-left: 20%;
	border-right-style: solid;margin-right: 20%;
}
/*一番上の画像について
---------------------------------------------------------------------------*/
.menu{ 
	background-image: url(../img/book_images.jpg);
	text-align: center; 
	width: 100%;
	height: 350px; 
	color: white;
	margin-bottom:40px;
} 

.menu h1 { 
	font-size:4rem; /* フォントサイズを4倍に設定*/ 
	margin-top: 3cm; /* 文字を下に3センチ移動 */
	color: #FFFACD; /* 文字色をFFFACDに設定 */
}

body:not(.home) header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 0vw;	/*上下、左右への画像の余白。*/
}

/*--------------------------------------------------------------------------*/
