@charset "UTF-8";



.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline;
	list-style: none;
	font-weight: bold;
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last_child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: rgb(128, 0, 0);
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.main_nav {
	text-align: center;
}
.main_nav li{
	margin: 0 auto;
	display: inline;
	list-style: none;
	font-weight: bold;
	
}

.main_nav li a {
	display: inline-block;
	padding: 16px;
	border-radius: 26px;
	text-decoration: none;
	color:#FFFFFF;
	background: rgb(128, 64, 64);
	font-size: 10px;
	line-height: 30px;
}

.product_wrapper {
	width: 850px;
	margin: 0 auto;
}

.product_wrapper h2 {
	text-align: center;
	font-size: 40px;
	border-bottom: 1px solid black;
}

.sort-options {
	
	margin: 0 auto;
    margin-top: 2px;
	text-align: right;
	display: flex;
}

#sort {
	margin-left: 5px;
	
}

.sort-options select {
    padding: 5px;
    font-size: 14px;
}


.product_lists {
	width: 850px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	
	text-align: center;	
}

.product_lists li {
	flex-basis: 50%;
	list-style: none;
}

.product_lists img {
	border-radius: 30px;
}

.product_list:hover img {
	transform: scale(1.1);
}

.product_lists span {
	font-weight: bold;
}


.footer {
    background-color: #333;
	color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

.footer-content {
    font-size: 14px;
}
